<div class = "container">

<h1>Contact</h1>

<p>Pour me contacter, rien de plus simple, envoyez un message sur Slack ! je serai ravi de vous répondre </p>

<p> Si tu n'as pas Slack clique sur l'image en dessous </br>

<a href="https://slack.com/intl/fr-fr/downloads/windows"> <img src="https://i0.wp.com/media.boingboing.net/wp-content/uploads/2019/01/slackstika.jpg?resize=958%2C426&ssl=1" alt="slack" height = 200 px> </a> </p>

</div>