<div class="container">

<h1>NOTRE EQUIPE </h1>


<p>Nous sommes une meute de 1 loup</p>

<p> <img src="https://cdn.static02.nicematin.com/media/npo/1440w/2019/04/image-varxxq901ga-loup.jpg" alt="loup" height = 400 px> </p>

</div>

