
<h2>PAGE USER </h2>

  <p> Voici le profil de l'utilisateur <%= @user.first_name%><br/>
  Description : <%= @user.description %><br/>
  Age : <%= @user.age %><br/>
  Email : <%= @user.email %><br/>
  
  </p>